![rmotr](https://user-images.githubusercontent.com/7065401/52071918-bda15380-2562-11e9-828c-7f95297e4a82.png)
<hr style="margin-bottom: 40px;">

# Pandas Series exercises

In [1]:
# Import the numpy package under the name np
import numpy as np

# Import the pandas package under the name pd
import pandas as pd

# Print the pandas version and the configuration
print(pd.__version__)

2.2.3

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## Series creation

### Create an empty pandas Series

In [2]:
# your code goes here
pd.Series()

Series([], dtype: object)

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X python list convert it to an Y pandas Series

In [3]:
# your code goes here
x=['ibrahim','19','184']
print(x,type(x))

y=pd.Series(x)
print(y,type(y))

['ibrahim', '19', '184'] <class 'list'>
0    ibrahim
1         19
2        184
dtype: object <class 'pandas.core.series.Series'>

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, name it 'My letters'

In [4]:
# your code goes here
x=pd.Series(['ibrahim',19,184])
x.name='My letters'
x

0    ibrahim
1         19
2        184
Name: My letters, dtype: object

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, show its values

In [5]:
# your code goes here
x.values

array(['ibrahim', 19, 184], dtype=object)

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## Series indexation

### Assign index names to the given X pandas Series

In [6]:
# your code goes here
x.index=['name','age','height']
x

name      ibrahim
age            19
height        184
Name: My letters, dtype: object

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, show its first element

In [7]:
# your code goes here
x[0] # by position
x.iloc[0] # by iloc position
x['name']# by index

C:\Users\UAS\AppData\Local\Temp\ipykernel_11072\3689638939.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  x[0] # by position

'ibrahim'

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, show its last element

In [8]:
# your code goes here
x[-1] # by position
x.iloc[-1] # by iloc position
x['height'] # by index

C:\Users\UAS\AppData\Local\Temp\ipykernel_11072\271307111.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  x[-1] # by position

184

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, show all middle elements

In [9]:
# your code goes here
x=pd.Series({
    'name':'ibrahim',
    'age':19,
    'height':184,
    'weight':98
}, name="Ibrahim'data")

x.iloc[1:-1]

age        19
height    184
Name: Ibrahim'data, dtype: object

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, show the elements in reverse position

In [10]:
# your code goes here
x[::-1]

weight         98
height        184
age            19
name      ibrahim
Name: Ibrahim'data, dtype: object

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, show the first and last elements

In [11]:
# your code goes here
x.iloc[[0,-1]]

name      ibrahim
weight         98
Name: Ibrahim'data, dtype: object

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## Series manipulation

### Convert the given integer pandas Series to float

In [12]:
# your code goes here
x=pd.Series({
    'first':1,
    'second':2,
    'third':3,
    'fourth':4,
    'fifth':5
}, name='numbers')
pd.Series(x,dtype=np.float64)

first     1.0
second    2.0
third     3.0
fourth    4.0
fifth     5.0
Name: numbers, dtype: float64

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Reverse the given pandas Series (first element becomes last)

In [13]:
# your code goes here
x[::-1]

fifth     5
fourth    4
third     3
second    2
first     1
Name: numbers, dtype: int64

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Order (sort) the given pandas Series

In [14]:
# your code goes here
X = pd.Series([4,2,5,1,3],
              index=['forth','second','fifth','first','third'], name='my numbers')
X.sort_values()

first     1
second    2
third     3
forth     4
fifth     5
Name: my numbers, dtype: int64

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, set the fifth element equal to 10

In [15]:
# your code goes here
X['fifth']=10
X

forth      4
second     2
fifth     10
first      1
third      3
Name: my numbers, dtype: int64

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, change all the middle elements to 0

In [16]:
# your code goes here
X[1:-1]=0
X

forth     4
second    0
fifth     0
first     0
third     3
Name: my numbers, dtype: int64

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, add 5 to every element

In [17]:
# your code goes here
X+5

forth     9
second    5
fifth     5
first     5
third     8
Name: my numbers, dtype: int64

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## Series boolean arrays (also called masks)

### Given the X pandas Series, make a mask showing negative elements

In [18]:
# your code goes here
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])
mask=X<=0
mask.to_frame()

       0
0   True
1  False
2   True
3   True
4  False
5  False
6   True
7   True
8   True
9  False

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, get the negative elements

In [19]:
# your code goes here
X[X<=0]

0   -1
2    0
3   -4
6    0
7    0
8   -9
dtype: int64

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, get numbers higher than 5

In [20]:
# your code goes here
X[X>5]

5     6
9    10
dtype: int64

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, get numbers higher than the elements mean

In [21]:
# your code goes here
X[X>X.mean()]

1     2
4     5
5     6
9    10
dtype: int64

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, get numbers equal to 2 or 10

In [22]:
# your code goes here
X[ (X==2) | (X==10)]

1     2
9    10
dtype: int64

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## Logic functions

### Given the X pandas Series, return True if none of its elements is zero

In [23]:
# your code goes here
j=1
for i in X:
    if i == 0:
        j=i
if j == 0:
    print(False)
else:
    print(True)

False

In [24]:
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])

X.all()

np.False_

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, return True if any of its elements is zero

In [25]:
# your code goes here
for i in X:
    if i == 0:
        j=i
if j == 0:
    print(True)
else:
    print(False)

True

In [26]:
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])

X.any()

np.True_

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## Summary statistics

### Given the X pandas Series, show the sum of its elements

In [27]:
# your code goes here
X.sum()

np.int64(9)

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, show the mean value of its elements

In [28]:
# your code goes here
X = pd.Series([1,2,0,4,5,6,0,0,9,10])
X.mean()

np.float64(3.7)

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, show the max value of its elements

In [29]:
# your code goes here
X.max()

np.int64(10)

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)