In [1]:
import pandas as pd
import numpy as np

In [2]:
g7__pop=pd.Series([35.467,63.951,80.951,60.665,127.061,64.511,318.523])

In [3]:
g7__pop

0     35.467
1     63.951
2     80.951
3     60.665
4    127.061
5     64.511
6    318.523
dtype: float64

In [4]:
g7__pop.name="G7 Population in millions"

In [5]:
g7__pop

0     35.467
1     63.951
2     80.951
3     60.665
4    127.061
5     64.511
6    318.523
Name: G7 Population in millions, dtype: float64

In [6]:
g7__pop.dtype

dtype('float64')

In [7]:
g7__pop.values

array([ 35.467,  63.951,  80.951,  60.665, 127.061,  64.511, 318.523])

In [8]:
type(g7__pop.values)

numpy.ndarray

In [9]:
g7__pop[0]

np.float64(35.467)

In [10]:
g7__pop[1]

np.float64(63.951)

In [11]:
g7__pop.index

RangeIndex(start=0, stop=7, step=1)

In [16]:
g7__pop.index=[
    'Canada',
    'France',
    'Germany',
    'Italy',
    'Japan',
    'United Kindom',
    'United States'
]

In [17]:
g7__pop

Canada            35.467
France            63.951
Germany           80.951
Italy             60.665
Japan            127.061
United Kindom     64.511
United States    318.523
Name: G7 Population in millions, dtype: float64

In [18]:
pd.Series(g7__pop, index=['France','Germany','Italy','Spain'])

France     63.951
Germany    80.951
Italy      60.665
Spain         NaN
Name: G7 Population in millions, dtype: float64

# Indexing
##### indexong works similarly to lists and dictionaries, you use the Index of the element you're looking for:

In [26]:
g7__pop['Canada']

np.float64(35.467)

In [27]:
g7__pop['Japan']

np.float64(127.061)

 ### Numeric positions can also be used, with the iloc attribute:

In [28]:
g7__pop.iloc[0]

np.float64(35.467)

In [30]:
g7__pop.iloc[1]

np.float64(63.951)

In [31]:
g7__pop.iloc[-1]

np.float64(318.523)

### selecting multiple elements at once

In [32]:
g7__pop[['Italy','Germany']]

Italy      60.665
Germany    80.951
Name: G7 Population in millions, dtype: float64

#### the result in another series

In [34]:
g7__pop.iloc[[0,-1]]

Canada            35.467
United States    318.523
Name: G7 Population in millions, dtype: float64

#### Slicing also works, but important, in pandas, the upper limit is also included

In [36]:
g7__pop['Canada':'Italy']

Canada     35.467
France     63.951
Germany    80.951
Italy      60.665
Name: G7 Population in millions, dtype: float64

In [37]:
g7__pop[0:5]

Canada      35.467
France      63.951
Germany     80.951
Italy       60.665
Japan      127.061
Name: G7 Population in millions, dtype: float64

## Conditional selection (boolean arrays)
#### the same boolean array technique we saw applied to numpy arrays can be used for pandas Series:

In [38]:
g7__pop

Canada            35.467
France            63.951
Germany           80.951
Italy             60.665
Japan            127.061
United Kindom     64.511
United States    318.523
Name: G7 Population in millions, dtype: float64

In [39]:
g7__pop>70

Canada           False
France           False
Germany           True
Italy            False
Japan             True
United Kindom    False
United States     True
Name: G7 Population in millions, dtype: bool

In [40]:
g7__pop[g7__pop>70]

Germany           80.951
Japan            127.061
United States    318.523
Name: G7 Population in millions, dtype: float64

In [42]:
g7__pop.mean()

np.float64(107.30414285714286)

In [43]:
g7__pop[g7__pop>g7__pop.mean()]

Japan            127.061
United States    318.523
Name: G7 Population in millions, dtype: float64

In [44]:
g7__pop.std()

np.float64(97.24947297788401)

## Operations and methods
#### Series also support vectorized operations and aggregation functions as Numpy:

In [45]:
g7__pop

Canada            35.467
France            63.951
Germany           80.951
Italy             60.665
Japan            127.061
United Kindom     64.511
United States    318.523
Name: G7 Population in millions, dtype: float64

In [47]:
g7__pop*1_000_000

Canada            35467000.0
France            63951000.0
Germany           80951000.0
Italy             60665000.0
Japan            127061000.0
United Kindom     64511000.0
United States    318523000.0
Name: G7 Population in millions, dtype: float64

In [48]:
g7__pop.mean()

np.float64(107.30414285714286)

In [49]:
np.log(g7__pop)

Canada           3.568603
France           4.158117
Germany          4.393844
Italy            4.105367
Japan            4.844667
United Kindom    4.166836
United States    5.763695
Name: G7 Population in millions, dtype: float64

In [50]:
g7__pop['France':'Italy'].mean()

np.float64(68.52233333333332)

## Bolean Array
#### (work in the same way in numpy)

In [51]:
g7__pop>80

Canada           False
France           False
Germany           True
Italy            False
Japan             True
United Kindom    False
United States     True
Name: G7 Population in millions, dtype: bool

In [52]:
g7__pop[g7__pop>80]

Germany           80.951
Japan            127.061
United States    318.523
Name: G7 Population in millions, dtype: float64

In [54]:
g7__pop[(g7__pop>80) | (g7__pop<40)]

Canada            35.467
Germany           80.951
Japan            127.061
United States    318.523
Name: G7 Population in millions, dtype: float64

In [55]:
g7__pop[(g7__pop>80) & (g7__pop<200)]

Germany     80.951
Japan      127.061
Name: G7 Population in millions, dtype: float64

## Modefying Series

In [56]:
g7__pop['Canada']=40.5

In [57]:
g7__pop

Canada            40.500
France            63.951
Germany           80.951
Italy             60.665
Japan            127.061
United Kindom     64.511
United States    318.523
Name: G7 Population in millions, dtype: float64

In [58]:
g7__pop.iloc[-1]=500

In [59]:
g7__pop

Canada            40.500
France            63.951
Germany           80.951
Italy             60.665
Japan            127.061
United Kindom     64.511
United States    500.000
Name: G7 Population in millions, dtype: float64

In [60]:
g7__pop[g7__pop<70]

Canada           40.500
France           63.951
Italy            60.665
United Kindom    64.511
Name: G7 Population in millions, dtype: float64

In [61]:
g7__pop[g7__pop<70]=99.99

In [62]:
g7__pop

Canada            99.990
France            99.990
Germany           80.951
Italy             99.990
Japan            127.061
United Kindom     99.990
United States    500.000
Name: G7 Population in millions, dtype: float64